@model QTComputer.Models.Order

<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">THÔNG TIN ĐƠN HÀNG #@Model.OrderId</h4>
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>ID:</td>
                            <td class="text-dark font-weight-semibold">#@Model.OrderId</td>
                        </tr>
                        <tr>
                            <td>Ngày mua hàng:</td>
                            <td>@Model.OrderDate</td>
                        </tr>
                        <tr>
                            <td>Khách hàng:</td>
                            <td>@Html.DisplayFor(model => model.Customer.FullName)</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td>@Html.DisplayFor(model => model.Customer.Phone)</td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td>@Html.DisplayFor(model => model.Customer.Address)</td>
                        </tr>
                        <tr>
                            <td>Tổng tiền:</td>
                            <td>@Model.TotalMoney.ToString("#,##0") VNĐ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <form asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@Model.OrderId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </form>
    </div>

</div>