@model QTComputer.Models.Page

@{
    ViewData["Title"] = "CHI TIẾT PAGE";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminPages" asp-action="Index" class="breadcrumb-item">Danh sách Pages</a>
            <span class="breadcrumb-item active">Chi tiết Page</span>
        </nav>
    </div>
</div>
<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height:70px; width:70px">
                <img src="~/images/Pages/@Model.Thumb" alt="@Model.Thumb" />
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.Title</h4>
                <p class="text-muted m-b-0">ID: #@Model.PageId</p>
            </div>
        </div>
        <div class="m-b-15">
            <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminPages" asp-action="Edit" asp-route-id="@Model.PageId">Edit</a>
        </div>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Thông tin tin tức</h4>
    <div class="table table-hover">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.PageId</td>
                </tr>
                <tr>
                    <td>Tên Page:</td>
                    <td class="text-dark font-weight-semibold">@Model.PageName</td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td>Thumb:</td>
                    <td>
                        <img width="200" height="200" src="~/images/Pages/@Model.Thumb" />
                    </td>
                </tr>
                <tr>
                    <td>Published</td>
                    <td>@Html.DisplayFor(model => model.Published)</td>
                </tr>
                <tr>
                    <td>Nội dung:</td>
                    <td>@Model.Contents</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


