@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent;
@using X.PagedList.Web.Common;
@using QTComputer.ModelView;
@model Tuple<CategoryViewModel, IPagedList<Product>>
@{
    ViewData["TiTle"] = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area" style="height:120px">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading" >SẢN PHẨM</h2>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li >DANH SÁCH SẢN PHẨM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2 pt-10 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox mb-9">
                            <form id="widgets-searchbox" asp-controller="Product" asp-action="Index">
                                <input id="keyword" name="keyword" class="input-field" type="text" placeholder="Tìm kiếm sản phẩm">
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="pe-7s-search"></i>
                                </button>
                            </form>
                        </div>
                        <div class="widgets-area mb-9">
                            <h2 class="widgets-title mb-5" style="font-size:x-large">Danh mục</h2>
                            <div class="widgets-item">
                                <ul class="widgets-checkbox">
                                    <form asp-controller="Product" asp-action="Index" method="get">
                                        <ul>
                                            @foreach (var category in Model.Item1.Categories)
                                            {
                                                <li>
                                                    <input type="checkbox"
                                                           id="category-@category.CatId"
                                                           name="categoryId"
                                                           value="@category.CatId"
                                                    @(Model.Item1.SelectedCategories != null && Model.Item1.SelectedCategories.Contains(category.CatId) ? "checked" : "")>
                                                    <label style="font-size:medium" for="category-@category.CatId">@category.CatName</label>
                                                </li>
                                            }
                                        </ul>
                                    </form>
                                </ul>
                            </div>
                        </div>
                        @*                        <div class="widgets-area mb-9">
                        <h2 class="widgets-title mb-5">Hãng</h2>
                        <div class="widgets-item">
                        <ul class="widgets-checkbox">
                        @foreach (var supplier in ViewBag.Suppliers)
                        {
                        <li>
                        <input class="input-checkbox" type="checkbox" id="supplier-@supplier.SupplierId" name="supplierId" value="@supplier.SupplierId" @(ViewBag.Suppliers?.Contains(supplier.SupplierId) ?? false ? "checked" : "")>
                        <label class="label-checkbox mb-0" for="category-@supplier.SupplierId">
                        @supplier.CompanyName
                        </label>
                        </li>
                        }
                        </ul>

                        </div>
                        </div>*@
                    </div>
                </div>
                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="product-topbar">
                        <ul>
                            <li class="product-view-wrap">
                                <ul class="nav" role="tablist">
                                    <li class="grid-view" role="presentation">
                                        <a class="active" id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th"></i>
                                        </a>
                                    </li>
                                    <li class="list-view" role="presentation">
                                        <a id="list-view-tab" data-bs-toggle="tab" href="#list-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="page-count">
                                @ViewBag.TotalProducts Sản phẩm
                            </li>
                            <li class="short">
                                <form id="sortForm" asp-controller="Product" asp-action="Index" method="get">
                                    <select name="sortOrder" id="sortOrder" class="nice-select wide rounded-0" onchange="submitForm()">
                                        <option value="">--Sắp xếp--</option>
                                        <option value="name_asc">Tên A-Z</option>
                                        <option value="name_desc">Tên Z-A</option>
                                        <option value="date_asc">Cũ nhất</option>
                                        <option value="date_desc">Mới nhất</option>
                                        <option value="price_asc">Giá tăng dần</option>
                                        <option value="price_desc">Giá giảm dần</option>
                                    </select>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content text-charcoal pt-8">
                        <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row">
                                @if (Model != null && Model.Item2.Count() > 0)
                                {
                                    foreach (var item in Model.Item2)
                                    {
                                        string url = $"/san-pham/{item.ProductId}";
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full lozad" src="~/images/products/@item.Thumb" alt="@item.Title">
                                                    </a>
                                                    @if (item.UnitsInStock > 0)
                                                    {
                                                        <div class ="product-add-action">
                                                            <ul>
                                                                <li>
                                                                    <a href="@url">
                                                                        <i class="pe-7s-cart"></i>
                                                                    </a>
                                                                 </li>
                                                            </ul>
                                                        </div>
                                                    }else
                                                    {
                                                        <div class="product-add-action">
                                                            <ul>
                                                                <li>
                                                                    <a href="@url" class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" style="color:black">
                                                                        Hết hàng
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    }

                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="@url">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        @if (item.UnitsInStock > 0)
                                                        {
                                                            <span class="new-price">@item.Price.Value.ToString("#,##0") VNĐ</span>
                                                        }else
                                                        {
                                                            <span class="new-price">HẾT HÀNG</span>
                                                        }
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="pagination-area pt-10">
                                <div class="pagination-container pagination justify-content-center">
                                    @Html.PagedListPager(Model.Item2, page => Url.Action("Index", new { page }), new PagedListRenderOptions {
                                    //DisplayLinkToFirstPage = true,
                                    //DisplayLinkToLastPage = true,
                                    LinkToFirstPageFormat = "«",
                                    LinkToPreviousPageFormat = "‹",
                                    LinkToNextPageFormat = "›",
                                    LinkToLastPageFormat = "»",
                                    UlElementClasses = new List<string> { "pagination" },
                                    LiElementClasses = new List<string> { "page-item" },
                                    PageClasses = new List<string> { "page-link" },
                                    MaximumPageNumbersToDisplay = 5,
                                    EllipsesFormat = "&#8230;",
                                    ContainerDivClasses = new List<string> { "pagination-container" }
                                    })
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                            <div class="product-list-view with-sidebar row">
                                @if (Model != null && Model.Item2.Count() > 0)
                                {
                                    foreach (var item in Model.Item2)
                                    {
                                        string url = $"/san-pham/{item.ProductId}";
                                        <div class="col-12 pt-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" src="~/images/products/@item.Thumb" alt="@item.Title">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="@url">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content align-self-center">
                                                    <a class="product-name pb-2" href="@url">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.Price</span>
                                                    </div>
                                                    <div class="rating-box pb-2">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <p class="short-desc mb-0">@item.ShortDesc</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="pagination-area pt-10">
                                    <div class="pagination-container pagination justify-content-center">
                                        @Html.PagedListPager(Model.Item2, page => Url.Action("Index", new { page }), new PagedListRenderOptions {
                                        //DisplayLinkToFirstPage = true,
                                        //DisplayLinkToLastPage = true,
                                        LinkToFirstPageFormat = "«",
                                        LinkToPreviousPageFormat = "‹",
                                        LinkToNextPageFormat = "›",
                                        LinkToLastPageFormat = "»",
                                        UlElementClasses = new List<string> { "pagination" },
                                        LiElementClasses = new List<string> { "page-item" },
                                        PageClasses = new List<string> { "page-link" },
                                        MaximumPageNumbersToDisplay = 5,
                                        EllipsesFormat = "&#8230;",
                                        ContainerDivClasses = new List<string> { "pagination-container" }
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
@section Scripts{
    <script>
        function submitForm() {
            document.getElementById("sortForm").submit();
        }
        function submitCb() {

            document.getElementById("catCbForm").submit();
        }

    </script>
    <script>
        $(window).unload(function () {
            sessionStorage.setItem('qtcomputer_scroll_position', $(window).scrollTop());
        });

        $(document).ready(function () {
            // Phục hồi vị trí của scroll bar từ sessionStorage
            var scrollPosition = sessionStorage.getItem('qtcomputer_scroll_position');
            if (scrollPosition) {
                $(window).scrollTop(scrollPosition);
                sessionStorage.removeItem('qtcomputer_scroll_position');
            }

            // Lấy thông tin về trang hiện tại và các danh mục đã chọn từ tham số truy vấn
            var urlParams = new URLSearchParams(window.location.search);
            var currentPage = urlParams.get('page');
            var selectedCategories = urlParams.getAll('categoryId');
            $('input[type="checkbox"]').each(function () {
                var categoryId = $(this).val();
                if (selectedCategories.includes(categoryId)) {
                    $(this).prop('checked', true);
                }
            });
        });

        $('input[type="checkbox"]').change(function () {
            if ($(this).prop('checked')) {
                $('input[type="checkbox"]').not($(this)).prop('checked', false);
            }

            var selectedCategoryIds = [];
            $('input[type="checkbox"]:checked').each(function () {
                selectedCategoryIds.push(parseInt($(this).val()));
            });

            // Thêm tham số truy vấn categoryId vào URL hiện tại
            var url = new URL(window.location.href);
            url.searchParams.delete('categoryId');
            for (var i = 0; i < selectedCategoryIds.length; i++) {
                url.searchParams.append('categoryId', selectedCategoryIds[i]);
            }

            // Thêm tham số truy vấn page vào URL hiện tại (nếu có)
            var currentPage = url.searchParams.get('page');
            if (currentPage) {
                url.searchParams.delete('page');
                url.searchParams.append('page', currentPage);
            }

            // Reload trang với URL mới
            window.location.href = url.href;
        });
    </script>
}