@model List<Product>
@if (Model != null && Model.Count() > 0)
{
    <div class="product-item-wrap row">
        @foreach (var item in Model)
        {
            string url = $"/{item.Title}-{item.ProductId}";
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="product-item">
                    <div class="product-img img-zoom-effect">
                        <a href="@url">
                            <img width="200" height="200" class="img-full" src="~/images/products/@item.Thumb" alt="@item.Title">
                        </a>
                    </div>
                    <div class="product-content">
                        <a class="product-name" href="@url">@item.ProductName</a>
                        <div class="price-box pb-1">
                            <span class="new-price">@item.Price.Value.ToString("#,##0") VNĐ</span>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $(".add-to-cart").click(function () {
                    var productid = $('#ProductId').val();
                    var soLuong = $('#txtsoLuong').val();
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productID: productid,
                            amount: soLuong
                        },
                        success: function (response) {
                            if (response.result == 'Redirect') {
                                window.location = response.url;
                            }
                            else {
                                loadHeaderCart(); //Add Product success
                                location.reload();
                            }
                            console.log(response); // log to the console to see whether it worked
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server: " + error.responseText);
                        }
                    });
                });

        @*$(".removecart").click(function () {
                var productid = $(this).attr("data-productid");
                $.ajax({
                url: "api/cart/remove",
                type: "POST",
                dataType: "JSON",
                data: { productID: productid },
                success: function (result) {
                if (result.success) {
                loadHeaderCart();//Reload lai gio hang
                location.reload();
                }
                },
                error: function (rs) {
                alert("Remove Cart Error !")
                }
                });
                });*@
                        });
            function loadHeaderCart() {
                $('#miniCart').load("/AjaxContent/HeaderCart");
                $('#numberCart').load("/AjaxContent/NumberCart");
            }
        });
    </script>

}