@model QTComputer.Models.Customer

<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">THÔNG TIN KHÁCH HÀNG #@Model.CustomerId</h4>
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>ID:</td>
                            <td class="text-dark font-weight-semibold">#@Model.CustomerId</td>
                        </tr>
                        <tr>
                            <td>Họ tên:</td>
                            <td>@Model.FullName</td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td>@Model.Address</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td>@Model.Phone</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>@Model.Email</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <form asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@Model.CustomerId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </form>
    </div>

</div>

