@model QTComputer.Models.Customer

@{
    ViewData["Title"] = "THÔNG TIN KHÁCH HÀNG";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" class="breadcrumb-item">Danh sách khách hàng</a>
            <span class="breadcrumb-item active">Thông tin khách hàng</span>
        </nav>
    </div>
</div>
<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height:70px; width:70px">
                <img src="~/images/Customers/@Model.Avatar" alt="@Model.Avatar" />
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.FullName</h4>
                <p class="text-muted m-b-0">ID: #@Model.CustomerId</p>
            </div>
        </div>
        <div class="m-b-15">
            <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a>
        </div>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Thông tin khách hàng</h4>
    <div class="table table-hover">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.CustomerId</td>
                </tr>
                <tr>
                    <td>Họ tên:</td>
                    <td>@Model.FullName</td>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Điện thoại:</td>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <td>Avatar:</td>
                    <td>
                        <img width="200" height="200" src="~/images/Customers/@Model.Avatar" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>